<div class="col-md-10 col-centered">

  <h2 class="text-center"> 我收藏的产品 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 收藏商品 </th>
        <th> 商品价格 </th>
        <th> 商品库存 </th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(product.title, product_path(product)) %> </td>
          <td> <%= product.price %> </td>
          <td> <%= product.quantity %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to("返回个人资料页", account_users_path, class:"btn btn-primary btn-md" ) %>
  <%= link_to("返回首页", root_path, class:"btn btn-success btn-md"  ) %>
</div>
