<h2> New Product </h2>
<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
  <div class="group">
    <%= f.input :description, :as => :kindeditor,
    :label => "内容", :input_html => { :width => 800, :height => 300 } %>
  </div>
  <div class="group">
    <%= f.input :quantity %>
  </div>
  <div class="group">
    <%= f.input :price %>
  </div>
  <div class="group">
    <%= f.input :image, as: :file %>
  </div>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
