<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JDStore </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to("Products", products_path) %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do  %>
            购物车 <i class="fa fa-shopping-cart"> </i>
            ( <%= current_cart.products.count %> )
          <% end %>
        </li>
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %> </li>
          <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'),
          new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                  <%= link_to("Admin 选单", admin_products_path ) %>
                </li>
                <li>
                  <%= link_to("个人订单列表", account_orders_path ) %>
                </li>
              <% end %>
              <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'),
              destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-mobile">
  <div class="call-us-area bg-info text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="call-us-number">
            <ul class="list-inline">
              <li><span class="icon_mail_alt"></span> admin@test.com</li>
              <li><span class="icon_phone"></span> 123456</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="call-us-text text-right">
        <% if !current_user %>
        <a><%= link_to("注册", new_user_registration_path, class: 'signin') %> </a>
        <a><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'),
        new_user_session_path, class: 'signin') %></a>
        <% else %>
          <a class="dropdown">
            <a href="#" class="dropdown-toggle signin" data-toggle="dropdown">
              Hi!, <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu text-right">
              <% if current_user.admin? %>
                <li>
                  <%= link_to("Admin 选单", admin_products_path ) %>
                </li>
                <li>
                  <%= link_to("个人订单列表", account_orders_path ) %>
                </li>
              <% end %>
              <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'),
              destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </a>
          <% end%>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="hv2-main-menu-bg">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#">
                <!-- <img src="assets/logov1.png" class="logo logo-display" alt="">
                <img src="assets/logoscroll.png" class="logo logo-scrolled" alt=""> -->
              </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                <li>
                  <%= link_to("返回首页",root_path)%>
                </li>
                <li>
                  <%= link_to("艺术版画",products_path(category:"艺术版画"))%>

                </li>
                <li>
                  <%= link_to("工艺墙饰",products_path(category:"工艺墙饰"))%>
                </li>
                <li>
                  <%= link_to("创意摆件",products_path(category:"创意摆件"))%>                
                </li>

                <li>
                  <%= link_to carts_path do  %>
                    购物车 <i class="fa fa-shopping-cart"> </i>
                    ( <%= current_cart.products.count %> )
                  <% end %>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
