<div class="col-md-8 col-centered">
 <div class="col-md-4">
   <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
   <!-- <% if @product.image.present? %>
     <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
   <% else %>
     <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
   <% end %> -->
 </div>
   <div class="col-md-4">
     账号：<%= user.email %>
     用户名：<%= user.username %>
   </div>
   <div class="col-md-8">
     地址：<%= user.province %>省<%= user.city %>市
     <%= user.district %>区<%= user.address %>

   </div>
</div>
