<!DOCTYPE html>
<html>
  <head>
    <title>Jdstory3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "common/navbar" %>
    <div id="bg-0" class="jumbotron">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="intro-content">
            <h1>艺&nbsp;汇</h1><br>
            <p>让家，更有品味</p>
          </div>
      </div>
    </div>
    </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
