<!DOCTYPE html>
<html>
  <head>
    <title>Jdstory3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-spy="scroll" data-target=".navbar-collapse">
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <%= render "common/navbar" %>
    <%= yield %>
    <%= render "common/footer" %>

  </body>
</html>
